:root {
  --bg: #ffffff;
  --text: #222;
  --accent: #4f46e5;
}

body.dark {
  --bg: #111;
  --text: #eee;
  --accent: #818cf8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: var(--bg);
  color: var(--text);
  line-height: 1.6;
}

header {
  position: sticky;
  top: 0;
  background: var(--bg);
  border-bottom: 1px solid #ddd;
}

nav {
  font-size:medium;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.nav-links a {
  text-decoration: none;
  color: var(--text);
}

.nav-links a:hover {
  color: var(--accent);
}

#theme-toggle {
  font-size: 1.2rem;
  cursor: pointer;
}

.section {
  padding: 4rem 2rem;
  max-width: 900px;
  margin: auto;
}

.home { 
  padding: 4rem 2rem;
  max-width: 1600px;

    text-align: center; 
    width: 100%;
    height: 800px; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text);
    background-color: rgb(98, 137, 231);

  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 100% 100%;
    animation: gradient 15s ease infinite; */
    
}
/*@keyframes home {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}*/

.home img{
 border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.home div{
  border-radius: 5px;
  margin: 50px;
  padding: 20px;
  font-size: medium;
}



.skills {
  margin: 1rem 0;
  display: flexbox
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.project-card {
  padding: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: transform 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card a {
  color: var(--accent);
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input, textarea, button {
  padding: 0.8rem;
  border: 1px solid #ccc;
}

button {
  background: var(--accent);
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

footer {
  text-align: center;
  padding: 1.5rem;
  border-top: 1px solid #ddd;
}

.socials a:hover {
  
  margin: 0 0.5rem;
  text-decoration: none;
  color: var(--text);
}


